

.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    opacity: 0.9;
}

.form-container h2 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #333;
}

.form-group label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.text-center a {
    color: #007bff;
}

.text-center a:hover {
    color: #0056b3;
    text-decoration: none;
}

.image-upload {
    text-align: center;
    margin-top: 20px;
}

.image-upload img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.image-upload input {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
    padding: 6px 12px;
    color: #007bff;
}

.custom-file-upload:hover {
    color: #0056b3;
}